@import "./_variables";

// GENERAL

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

::-webkit-scrollbar {
display: none;
}

html, body, #root, .App {
  min-height: 100vh;
  background-color: $blue;
  overflow-x: hidden;
}

.App {
    padding-bottom: 24px;
}

body {
    font-family: $bodyFont;
    font-weight: 100;
    max-width: 100%;
}

.mobile-only {
    display: none;
}

.PageContent {
    padding: 0 12px;
}

strong {
    font-family: $headerFont;
}

h1 {
    font-family: $headerFont;
    color: white;
    font-size: 5em;
}

h1.PageTitle {
    text-align: center;
    padding: 48px;
    font-size: 5em;
}

h2 {
    color: black;
}

h3 {
font-size: 1em;
}

.white-filter { // turns SVGs white
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(144deg) brightness(104%) contrast(101%);
}

p.dateDisplay {
    font-size: 1.2em;
    padding: 0;
    margin: 0;
    opacity: 60%;
    font-weight: 300;
}

.card {
    background-color: white;
    margin: 12px;
    padding: 18px;
    border-radius: 6px;
    flex: 1 1 0;
}

.badge {
    background-color: rgb(219, 219, 219);
    color: black;
    font-weight: 400 !important;
    border-radius: 2px;
    margin: 1px 4px;
}

.color-white {
    color: white !important;
}

.color-black {
    color: black !important;
}

.text-decoration-none {
    text-decoration: none;
}

// EXPAND TOGGLE -------------------------

.ExpandToggle  {

    padding: 8px;
    border-radius: 8px;
    
    strong {
        font-family: $bodyFont;
    }

    span.expandToggleHeader {
        display: flex;
        align-items: center;
    }

    h3 {
        position: relative;
        top: 3px;
        padding-left: 4px;
        font-family: $headerFont;
    }

    button {
        color: $orange;
        background-color: $orange;
        border: none;
        font-weight: bold;
        font-size: 1.5em;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        padding: 0px;
        margin-right: 3px;
    }

    .content.expanded {
        animation: none;
        display: block;
        animation: expandAnimation 0.2s linear 1 forwards;
    }

    .content.hidden {
        animation: collapseAnimation 0.25s linear 1 forwards;
    }

    .ChevronImg {
        position: relative;
        width: 22px;
        top: -5.5px;
        left: 0px;
        transition: transform 0.6s;
    }

    .ChevronImg.open {
        transform: rotate(90deg);
        left: 0px;
        top: -5.5px;
    }

    @keyframes collapseAnimation {
        from {
            display:block;
            opacity: 100%;
        }

        to {
            opacity: 0%;
            display: none;
        }
    }

    @keyframes expandAnimation {
        from {
            opacity: 0%;
            display: none;
        }
        to {
            display:block;
            opacity: 100%;
        }


    }
}

// Alternative style    
.ExpandToggle-1 {

    button {
        transform: scale(0.75);
    }

    .content {
        padding-top: 6px;
        line-height: 100%;
        font-weight: 300;
    }

    h3 {
            font-family: $bodyFont;
            font-size: 1.2em;
            font-weight: bold;
    }
}

// NAV BAR --------------------------------

ul.NavBar {
    list-style: none;
    display: flex;
    background-color: $red;
    padding: 0;
    margin: 0;
    position: sticky;
    top: 0px;
    z-index: 3;

    li {
        display: flex;
        font-family: $headerFont;
        font-size: 1.5em;
        letter-spacing: 0.1em;
        flex: 1 1 0;
        justify-content: center;
    }

    li:hover {
        background-color: rgba(255, 255, 255, 0.25);
    }

    li.active {
        background-color: $purple;
    }

    a {
        color: white;
        font-weight: $heavyFont;
        text-decoration: none;
        padding: 0.5em;
        width: 100%;
        text-align: center;
        cursor: pointer;
    }
}

// ABOUT PAGE -----------------------------------

.AboutPage {

    display: flex;
    flex-direction: column;

    .selfie {
        height: 10rem;
        width: 10rem;
        border-radius: 100%;
        align-self: center;
    }

    p {
        font-size: 1.25em;
        font-family: $sansSerifFont;
        padding: 0.5em;
        margin-bottom: 0;
    }

    .mainTile {
        background-color: $beige;
        padding: 2em;
        padding-bottom: 1.5em;
        max-width: 90%;
        align-self: center;
        * {color: black;}
        
        .header {
            display: flex;

            .title {
                padding: 1em;
            }

            h1 {
                font-size: 4.5em;
            }
        }
    }

    .bottomStrip {
        display: flex;

        .leftItems {
            display: flex;
            flex: 2 1 0;
        }

        h2 {
            color: white;
            text-align: center;
        }
        
        .listSection {
            display: block;
            flex: 1 1 0;
            padding: 1em;

            ul {
                margin: 0;
                padding: 0;
            }

            li {
                border: none;
                width: 100%;
                position: relative;
                list-style: none;
                padding: 0.25em;
                text-align: center;
                margin: 0.5em;
                z-index: 2;
                min-width: 130px;

                a, button {
                    color: white;
                    background-color: transparent;
                    border: none;
                    text-decoration: none;
                    font-weight: $heavyFont;
                }
            }

            #li-German {width: 75%;}
            #li-Spanish {width: 50%;}

        }
    }

    #linkSection li:hover {
        top: 2px;
    }
    .skills {
        display: flex;
        flex-wrap: wrap;

        li {
            flex: 1 1 0;
            padding: 1em;
            z-index: 1;
            min-width: 100px;
        }
    }

    .image {
        float: right;
        opacity: 50%;
        width: 150px;
        position: relative;
        top: -80px;
    }

    #LinkImg {
        transform: rotate(-45deg);
        top: -40px;
        z-index: 1;
    }

    #LangImg {
        width: 120px;
        top: -40px;
        transform: rotateY(180deg);
        opacity: 40%;
    }


    #CodeImg {
        top: -30px;
        transform: rotate(-10deg);
    }


    // VIEWPORTS ---

    // Medium
    @media (max-width: $BP-medium) {

        .title * {
            line-height: 100%;
            padding: 0px;
            margin-bottom: 12px;
        }

        .leftItems {
            flex-direction: column;
        }

        #linkSection {
            height: 200px;

            #LinkImg {
                top: -50px;
            }
        }

        #langSection {
            height: 240px;
            position: relative;
            top: -80px;

            #LangImg {
                top: -100px;
            }

        }

        }

    // Small
    @media (max-width: $BP-small) {

        #langSection {
            li, #li-German, #li-Spanish {width: 90%;}
        }
        #LangImg {
            position: relative;
            top: -130px !important;
            left: 30px
        }
        
        .header {
            flex-direction: column;
        }

        .mainTile {
            text-align: center;
        }
    }

}

// PROJECTS PAGE -----------------------------------

.ProjectsPage {

    .cardsContainer {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1.5rem;
  column-gap: 24px;
  row-gap: 24x;
  padding: 0 12px;
    }
    
    .cardsContainer > .ProjectCard {
        color: black;
        z-index: 1;
        background-color: white;
        border-radius: 12px;
        align-items: end;
        padding: 16px;
        min-width: 400px;
        min-height: 360px;
        overflow: hidden;

        h2 {
            padding-top: 6px;
        }

        img {
            width: 100%;
            border-radius:  8px;
            aspect-ratio: 440 / 248;
        }

        .projectInfo {
            padding: 2px;
        }

        p.dateDisplay {
            padding: 8px 0;
        }
        .badges, .projectSkillsContainer {
            padding: 0;
            overflow-x: scroll;
        }

        .projectSkillsContainer {
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            & strong {
                padding-right: 12px;
                position: relative;
                top: -1px;
            }

            & strong, & .badge {
                height: 100%;
            }
        }

        .badge {
            margin-left: 0;
        }


    }

    a.ProjectCard {
        text-decoration: none; 

        &:not(:hover) {
            transition: transform 1s;
            transform: rotate(0deg);
        }

        &:hover {
            z-index: 2 !important;
            position: relative;  
            outline: $orange 6px solid;
            transform: rotate(4deg);
            transition: transform 2s, 
        }
    }


    
    h4.subtitle {
        color: gray;
        font-size: 18px;
        font-style: italic;
        font-weight: 300;
    }

    p.dateDisplay {
        text-align: right;
    }

    div.description p {
        text-align: justify;
        margin: 6px 0;
    }

    @media(max-width: $BP-medium) {
        div.cardsContainer {
            padding: 0 5%;
        }
    }

    // Under construction border:

    .cardsContainer > div.under-construction {
    position: relative;
    overflow: hidden;
   
    &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 12px;
    padding: 8px;
    background: repeating-linear-gradient(
        45deg,
        $yellow 0,
        $yellow 20px,
        $darkBrown 20px,
        $darkBrown 40px
    );
    // for Safari:
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    // for Chrome/Firefox:
    mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    mask-composite: exclude;
    }
}
    
}

// WORK PAGE -----------------------------------

.WorkPage {

    .cardsContainer {
        display: flex;
        flex-wrap: wrap;
    }

    .WorkCard {
        min-width: 500px;
        z-index: 1;

        h2 {
            color: black;
            border-bottom: solid $orange;
            padding: 6px 0 0 0;
            line-height: 120%;
            font-size: 2.5em;
        }

        span.companyName {
            opacity: 60%;
            font-weight: 300;
        }


        ul {
            padding: 0 15px 0 30px;
            list-style: none;
        }
        li {
            text-align: justify;
            text-indent: -24px; 
        }

        li::before {
            content: '';
            display: inline-block;
            width: 16px;
            height: 16px;
            background-image: url("../assets/check-circle.svg");
            background-size: contain;
            background-repeat: no-repeat;
            vertical-align: middle;
            margin-right: 8px;
            position: relative;
            top: -1.5px;
            left: 0px;
        }

        .ExpandToggle .content {
        text-align: left;
        }
    }

    span.PageTitle {
        display: flex;
        justify-content: center;
    }

    // Small viewport
    @media(max-width: $BP-small) {
        .WorkCard {
            min-width: inherit;

            li {font-size: 0.9em;}
        }
    }
}

// EDUCATION PAGE -----------------------------------

.EducationPage {

    .ImageBanner {
opacity: 40%;
    }

    .subtitle {
        font-style: italic;
        line-height: 100%;
    }

    .qualificationsSummary {
        display: block;
    }

    ul.qualifications {
        display: none;
        list-style-type: none;
        padding: 0;
    }

    .PageTitle {
        text-align: left;
    }

    .circleContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        position: relative;
        top: -72px;
    }

    .circle {        
        $total: 4;
        $radius: 280px;
        position: relative;
        $angle-offset: 25deg;
        transform: rotate(-$angle-offset);
        width: calc($radius *2);
        height: calc($radius * 2);
        border: solid white 10px;
        border-top-color: transparent;
        border-radius: 50%;

        > div {
            position: absolute;
            top: 42%;
            left: 35%;
            width: 300px;
            margin: -40px;
            padding: 0px;
            border: none;
            border-radius: 12px;
            overflow: hidden;
        }

        #EducationCard-0 {
            $angle: calc(360deg / $total * 0.2 - 45deg);
            transform: rotate($angle) translateX($radius) rotate(calc(-1 * $angle + $angle-offset));
        }

        #EducationCard-1 {
            $angle: calc(360deg / $total * 1 - 45deg);
            transform: rotate($angle) translateX($radius) rotate(calc(-1 * $angle + $angle-offset));
        }

        #EducationCard-2 {
            $angle: calc(360deg / $total * 2.25 - 45deg);
            transform: rotate($angle) translateX($radius) rotate(calc(-1 * $angle + $angle-offset));
        }

        #EducationCard-3 {
            $angle: calc(360deg / $total * 3 - 45deg);
            transform: rotate($angle) translateX($radius) rotate(calc(-1 * $angle + $angle-offset));
            background-color: $orange;
            
            * {
                color: white;
            }

            > .qualificationDisplay {
                background-color: $purple;
                color: white;
            }
        }

        div.expandable:hover {
            width: 400px;
            top: 37%;
            left: 20%;
            z-index: 1;

            ul.qualifications {
                display: flex;
                flex-wrap: wrap;
            }

            .qualificationsSummary {
                display: none;
            }
        }

        .cardHeader {
            margin: 0;
            padding: 18px;
            padding-bottom: 0;
        }

        .qualificationDisplay {

            background-color: #d9d9d9;
            margin: 0;
            text-align: center;
            padding: 12px;

            * {
                padding: 0;
                margin: 0;
            }

            .qualificationName {
                font-weight: bold;
                font-size: 1.25em;
                line-height: 100%;
            }

            .badge {
                font-size: 0.8em;
                background-color: #ffffff;
                margin: 3px;
                border-radius: 3px;
                padding: 6px;
                border: solid #3e3e3e 1px;
                flex: 1 1 0;
            }
        }

    }

    // VIEWPORTS

    // Medium
    @media (max-width: $BP-medium) {

        h1.PageTitle {
            text-align: center;
        }
        
        .circleContainer {
            top: 0px;
            margin-bottom: 120px;
        }

        .circle {
            visibility: visible;
            display: block;
            border: none;
            transform: rotate(0deg);
            top: 0;
            left: 0;
            width: 100%;
            padding: 0px;
            margin: 0;
            border-radius: 12px;;
            padding: 10px;
            margin-top: 12px;

            > div.EducationCard {
                margin: 0px;
                width: unset;
                top: revert;
                left: revert;
                position: relative;
                transform: none !important;
                margin-bottom: 24px;
                display: block;
            }

            > div.expandable:hover {
                top: revert;
                left: revert;
                bottom: revert;
                width: unset;

                ul.qualifications {
                   flex-wrap: nowrap;
                }
            }
        }

        .circle .cardHeader {
            padding: 12px;
            display: block;

            h2 {
                margin: 0;
                padding: 0;
            }

            .school-name-and-subtitle {
                display: flex;

                .subtitle {
                    text-align: right;
                    flex: 1 1 0;
                    align-self: center;
                    padding: -10px;
                    padding-top: 6px;
                    margin: 0;
                }
            }
        }

        .qualificationDisplay {
            display: block;
            flex-direction: row;
            justify-content: center;
            margin: 0;
            padding: 0;
            overflow-x: scroll;
            overflow-y: hidden;

            .badge {
                overflow-wrap: break-word !important;
                word-wrap: break-word !important;

            }
        }
    }
}

// MOBILE VIEWPORT ---------------------------------

@media(max-width: $BP-mobile) {

    // General
    .mobile-only {
        display: block;
    }

    h1.PageTitle {
        font-size: 4em;
        padding: 16px;
    }

    // Components
    ul.NavBar {

        a {padding: 8px 0;}
        li {font-size: 1em;}
    }

    .ImageBanner {
        transform: translateX(-50px);
    }

    // Pages
    .homePage {
        #headingContainer {
            font-size: 16px;
            width: 100%;
            margin: 0;
            left: 0;
            text-align: center;
        }
        #CircularText {
            display: none;
        }

        h4.mobile-only {
            color: white;
            font-family: $headerFont;
            opacity: 80%;
            font-size: 2em;
            font-weight: 300;
            padding-bottom: 12px;
            letter-spacing: 0.05em;

        }

        li {
            border: none !important;
        }

        li:nth-child(2) {
            background-color: $orange !important;
        }
        li:nth-child(3) {
            background-color: $yellow !important;
        }
        li:nth-child(4) {
            background-color: $purple !important;
        }
    }
    
    .AboutPage {
        .header {
            flex-direction: column;
            text-align: center;
        }

        .mainTile {
            p {
                line-height: 120%;
                text-align: center;
            }
        }
    }

    .ProjectsPage {

        div.cardsContainer {
            padding: 0;
        }
        
        .ProjectCard {
            min-width: 90%;
        }
    }

    .EducationPage {
        .circle .EducationCard {

            .subtitle {font-size: 0.9em;}

            .qualificationDisplay {
                padding: 8px;
                font-size: 0.85em;
            }
        }
    }

}